.sky {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #e0c2ff, #d0b0ff);
    overflow: hidden;
  }
  
  .top-sky, .medium-sky, .bottom-sky {
    position: absolute;
    width: 100%;
    height: 33.33%; /* Divide o céu em três partes iguais */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .top-sky {
    bottom: 26%;
    opacity: 0.2;
  }
  
  .medium-sky {
    bottom: 8%;
    opacity: 0.5;
  }
  
  .bottom-sky {
    bottom: -10%;
    opacity: 0.8;
  }
  
  .cloud {
    background: white;
    border-radius: 50%;
    opacity: 1.0;
    margin: -10%;
  }
  
  .cloud-medium {
    width: 19vw; /* Usando vw para tamanhos relativos à viewport */
    height: 19vw;
  }
  
  .cloud-large {
    width: 22vw;
    height: 22vw;
  }
  
  .cloud-small {
    width: 15vw;
    height: 15vw;
  }
  

  

  @keyframes cloud-move1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10%); /* Movimento horizontal ajustado */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes cloud-move2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20%); /* Movimento horizontal ajustado */
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes cloud-move3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30%); /* Movimento horizontal ajustado */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .cloud-medium {
    animation: cloud-move1 17s infinite linear;
  }

  .cloud-large {
    animation: cloud-move2 20s infinite linear;
  }

  .cloud-small {
    animation: cloud-move3 25s infinite linear;
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Ajuste a altura conforme necessário */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .star {
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px white, 0 0 10px lightblue; /* Efeito de brilho */
    margin: auto;
  }
  
  /* Tamanhos e posições individuais das estrelas */
  .star-small {
    width: 0.5vh;
    height: 0.5vh;
    
  }

  .star-superfast {
    animation: twinkle 6s infinite ease-in-out;
  }

  .star-fast {
    animation: twinkle 6s infinite ease-in-out;
  }

  .star-slow {
    animation: twinkle 6s infinite ease-in-out;
  }
  
  .star-large {
    width: 1vh;
    height: 1vh;
  }
  
  .star-medium {
    width: 0.75vh;
    height: 0.75vh;
  }
  
  /* Animação (opcional) */
  @keyframes twinkle {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
  }