.sky {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #e0c2ff, #d0b0ff);
    overflow: hidden;
  }
  
  .top-cloud, .medium-cloud, .bottom-cloud {
    position: absolute;
    width: 100%;
    height: 33.33%; /* Divide o céu em três partes iguais */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .top-cloud {
    bottom: 26%;
    opacity: 0.2;
  }
  
  .medium-cloud {
    bottom: 8%;
    opacity: 0.5;
  }
  
  .bottom-cloud {
    bottom: -10%;
    opacity: 0.8;
  }
  
  .cloud {
    background: white;
    border-radius: 50%;
    opacity: 1.0;
    margin: -10%;
  }
  
  .cloud-medium {
    width: 19vw; /* Usando vw para tamanhos relativos à viewport */
    height: 19vw;
  }
  
  .cloud-large {
    width: 22vw;
    height: 22vw;
  }
  
  .cloud-small {
    width: 15vw;
    height: 15vw;
  }
  
  .bottom-cloud {
    margin-top: auto;
  }

  

  @keyframes cloud-move1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10%); /* Movimento horizontal ajustado */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes cloud-move2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20%); /* Movimento horizontal ajustado */
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes cloud-move3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(30%); /* Movimento horizontal ajustado */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .cloud-medium {
    animation: cloud-move1 7s infinite linear;
  }

  .cloud-large {
    animation: cloud-move2 10s infinite linear;
  }

  .cloud-small {
    animation: cloud-move3 15s infinite linear;
  }