/* Estilos do céu */
.sky {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #e0c2ff, #d0b0ff);
  overflow: hidden;
}

.night-sky {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #32174d, #221133);
  overflow: hidden;
  animation: sky-gradient-transition 20s infinite ease-in-out;
}

@keyframes sky-gradient-transition {
  0%, 100% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
}

/* Estilos das camadas */
.top-sky, .medium-sky, .bottom-sky {
  position: absolute;
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-sky {
  bottom: 10%;
  opacity: 0.2;
}

.medium-sky {
  bottom: -10%;
  opacity: 0.5;
}

.bottom-sky {
  bottom: -30%;
  opacity: 0.8;
}

/* Estilos das nuvens */
.cloud {
  background: white;
  border-radius: 50%;
  opacity: 1.0;
  margin: -10%;
}

.cloud-small {
  width: 25vw;
  height: 34vw;
}

.cloud-medium {
  width: 28vw;
  height: 37vw;
}

.cloud-large {
  width: 31vw;
  height: 40vw;
}


/* Estilos das estrelas */
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.star {
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 5px white, 0 0 10px lightblue;
  margin: auto;
}

.star-small {
  width: 0.45vh;
  height: 0.45vh;
}

.star-medium {
  width: 0.7vh;
  height: 0.7vh;
}

.star-large {
  width: 0.85vh;
  height: 0.85vh;
}

/* Animações */
@keyframes cloud-move1 {
  0% { transform: translateY(0); }
  50% { transform: translateY(10%); }
  100% { transform: translateY(0); }
}

@keyframes cloud-move2 {
  0% { transform: translateY(0); }
  50% { transform: translateY(15%); }
  100% { transform: translateY(0); }
}

@keyframes cloud-move3 {
  0% { transform: translateY(0); }
  50% { transform: translateY(20%); }
  100% { transform: translateY(0); }
}

.cloud-superfast {
  animation: cloud-move3 19s infinite linear;
}

.cloud-fast {
  animation: cloud-move2 25s infinite linear;
}

.cloud-slow {
  animation: cloud-move1 29s infinite linear;
}

@keyframes twinkle {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.star-superfast {
  animation: twinkle 5s infinite ease-in-out;
}

.star-fast {
  animation: twinkle 8s infinite ease-in-out;
}

.star-slow {
  animation: twinkle 11s infinite ease-in-out;
}